{
    "extends": [
        "kentcdodds",
        "kentcdodds/react",
        "kentcdodds/jsx-a11y"
    ],
    "rules": {
        "import/no-unresolved": "off",
        "react/prop-types": "off",
        "react/display-name": "off",
        "react/jsx-no-target-blank": "off",
        "react/jsx-pascal-case": "off",
        "react/self-closing-comp": "off",
        "react-hooks/exhaustive-deps": "off",
        "import/order": "off",
        "babel/camelcase": "off",
        "jsx-a11y/label-has-for": "off",
        "max-lines-per-function": "off",
        "babel/quotes": "off",
        "consistent-return": "off"
    }
}