/* -------------------------------
    Callouts
--------------------------------- */
.ontario-callout {
  padding: 0.9375rem 2rem 0.9375rem 0.9375rem;
  margin: 2.5rem 0;
}

/** Callout typography **/
.ontario-callout h2,
.ontario-callout h3,
.ontario-callout h4 {
  margin-bottom: 0;
}

.ontario-callout h2,
.ontario-callout h3 {
  font-size: 1.5rem;
  line-height: 1.3;
}

/** Callout types **/
.ontario-callout--no-bg {
  /* navy border */
  background: none;
  border-left: 4px solid #1080a6;
}

/* general info callout with icon positioning (light blue) */
.ontario-callout--info {
  background-color: #def2fa;
  border-left: 4px solid #1080a6;
}

.ontario-callout--info .ontario-button--secondary {
  background-color: transparent;
}

/* Yellow warnings with warning icon */
.ontario-callout--warning {
  background-color: rgba(255, 212, 64, 0.2);
  border-left: 4px solid #ffd440;
  margin-bottom: 1rem;
}

.ontario-callout--warning__message {
  display: block;
  float: left;
  margin-left: 1rem;
  position: relative;
  top: 0.6rem;
  width: 90%;
}

.ontario-callout--warning__message--bottom {
  /* for longer text */
  display: table-cell;
  padding-left: 0.5rem;
  vertical-align: bottom;
}

@media screen and (max-width: 39.9375em) {
  .ontario-callout--warning__message {
    width: 80%;
  }
}

.ontario-callout__title--warning {
  font-weight: bold;
  position: relative;
  top: 0.2rem;
  margin-left: 0.5rem;
}

.ontario-callout--grey {
  padding: 1.5rem 2rem;
  background-color: #f2f2f2;
}
