/* -------------------------------
    Icons
--------------------------------- */
.ontario-icon__warning {
  display: block;
  background: url("../images/ontario-icon-warning.svg");
  background-size: 100%;
  float: left;
  width: 2rem;
  height: 1.8rem;
}

.ontario-icon__warning--bottom {
  display: table-cell;
  float: none;
  vertical-align: bottom;
}

@media screen and (max-width: 72.9375em) {
  .ontario-icon__warning--bottom {
    vertical-align: top;
  }
}

.ontario-icon__back-blue {
  display: inline-block;
  background: url("../images/ontario-icon-back-blue.svg");
  background-size: 100%;
  width: 0.9rem;
  height: 0.9rem;
}

.ontario-icon__info {
  display: block;
  background: url("../images/ontario-icon-information.svg");
  background-size: 100%;
  float: left;
  width: 2rem;
  height: 2em;
  margin: auto auto auto 1.5rem;
}

.ontario-icon__linkedin,
.ontario-icon__twitter,
.ontario-icon__facebook,
.ontario-icon__email {
  display: inline-block;
  width: 1.125rem;
  height: 1.125rem;
  margin-right: 3rem;
}

@media screen and (max-width: 39.9375em) {
  .ontario-icon__linkedin,
  .ontario-icon__twitter,
  .ontario-icon__facebook,
  .ontario-icon__email {
    margin-right: 1rem;
  }
}

.ontario-icon__linkedin {
  background: url("../images/ontario-icon-linkedin.svg");
  background-size: 100%;
}

.ontario-icon__facebook {
  background: url("../images/ontario-icon-facebook.svg");
  background-size: 100%;
}

.ontario-icon__twitter {
  background: url("../images/ontario-icon-twitter.svg");
  background-size: 100%;
  height: 0.97rem;
  width: 1.2rem;
}

.ontario-icon__clipboard {
  background: url("../images/ontario-icon-clipboard.svg");
  background-size: 100%;
  width: 40px;
  height: 56px;
}

@media screen and (max-width: 39.9375em) {
  .ontario-icon__clipboard {
    width: 20px;
    height: 28px;
    margin: auto;
  }
}

.ontario-icon__clipboard-red {
  background: url("../images/ontario-icon-clipboard-red.svg");
}

.ontario-icon__self-isolate-home {
  background: url("../images/ontario-icon-self-isolate-home.svg");
  background-size: 100%;
  width: 40px;
  height: 42px;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 39.9375em) {
  .ontario-icon__self-isolate-home {
    width: 20px;
    height: 21px;
    margin: 0.5rem auto 0 auto;
  }
}

.ontario-icon__self-isolate {
  background: url("../images/ontario-icon-self-isolate.svg");
  background-size: 100%;
  width: 40px;
  height: 36px;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 39.9375em) {
  .ontario-icon__self-isolate {
    width: 20px;
    height: 18px;
    margin: auto;
  }
}

.ontario-icon__success {
  background: url("../images/ontario-icon-success.svg");
  background-size: 100%;
  width: 40px;
  height: 40px;
}

.ontario-icon__error {
  background: url("../images/ontario-icon--error.svg");
  background-size: 100%;
  width: 40px;
  height: 40px;
  margin-bottom: 1.5rem;
}

.ontario-icon__phone {
  background: url("../images/ontario-icon-phone.svg");
  background-size: 100%;
  width: 30px;
  height: 30px;
  display: block;
  margin: auto auto auto 1.5rem;
}

@media screen and (max-width: 39.9375em) {
  .ontario-icon__phone {
    width: 15px;
    height: 15px;
    margin: 0.65rem auto auto 0.65rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 72.9375em) {
  .ontario-icon__phone {
    margin: 0.65rem auto auto 1rem;
  }
}

.ontario-icon__feedback {
  background: url("../images/ontario-icon-feedback.svg");
  background-size: 100%;
  width: 32px;
  height: 29px;
  display: block;
  margin: auto auto auto 1.5rem;
}

@media screen and (max-width: 39.9375em) {
  .ontario-icon__feedback {
    margin-left: 0.8rem;
    width: 25px;
    height: 22px;
  }
}

@media screen and (min-width: 40em) and (max-width: 72.9375em) {
  .ontario-icon__feedback {
    margin-left: 1rem;
  }
}

.ontario-icon__new-window {
  background: url("../images/ontario-icon__new-window.svg");
  background-size: 100%;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: auto auto auto 0.5rem;
  position: relative;
  top: 0.2rem;
}

.ontario-icon__new-window--blue {
  background: url("../images/ontario-icon__blue-new-window.svg");
  background-size: 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: auto auto auto 0.3rem;
  position: relative;
}

.ontario-icon__download {
  background: url("../images/ontario-icon-blue-download.svg");
  background-size: 100%;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: auto auto auto 0.3rem;
  position: relative;
}

@media screen and (max-width: 39.9375em) {
  .ontario-icon__covidapp {
    width: 30px;
    height: 30px;
    margin-left: -0.3rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 72.9375em) {
  .ontario-icon__covidapp {
    width: 45px;
    height: 45px;
    margin-left: -0.3rem;
  }
}

.ontario-icon__thermometer {
  background: url("../images/ontario-icon__thermometer.svg");
  background-size: 100%;
  display: inline-block;
  margin-left: 2rem;
  width: 17px;
  height: 57px;
}

@media screen and (max-width: 39.9375em) {
  .ontario-icon__thermometer {
    width: 14px;
    height: 47px;
    margin-left: 1rem;
  }
}

.ontario-icon__print {
  background: url("../images/ontario-icon-print.svg");
  background-size: 100%;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: auto auto auto 0.3rem;
  position: relative;
}

@media screen and (min-width: 40em) and (max-width: 72.9375em) {
  .ontario-icon__thermometer {
    margin-left: 1rem;
  }
}
