/* -------------------------------
        Layout, Grid and Spacing
        and Breadcrumbs
--------------------------------- */

/* -------------------------------
        Layout
--------------------------------- */
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

/* -------------------------------
        Grid
--------------------------------- */
.ontario-row {
  margin: 0 auto;
  max-width: 72rem;
  width: 100%;
}
.ontario-row:before,
.ontario-row:after {
  content: " ";
  display: table;
}
.ontario-row:after {
  clear: both;
}
.ontario-row.ontario-row--collapse > .ontario-column,
.ontario-row.ontario-row--collapse > .ontario-columns {
  padding-left: 0;
  padding-right: 0;
}
.ontario-row.ontario-row--collapse .ontario-row {
  margin-left: 0;
  margin-right: 0;
}
.ontario-row .ontario-row {
  margin: 0 calc(-2rem / 2);
  max-width: none;
  width: auto;
}
.ontario-row .ontario-row:before,
.ontario-row .ontario-row:after {
  content: " ";
  display: table;
}
.ontario-row .ontario-row:after {
  clear: both;
}
.ontario-row .ontario-row.ontario-row--collapse {
  margin: 0;
  max-width: none;
  width: auto;
}
.ontario-row .ontario-row.ontario-row--collapse:before,
.ontario-row .ontario-row.ontario-row--collapse:after {
  content: " ";
  display: table;
}
.ontario-row .ontario-row.ontario-row--collapse:after {
  clear: both;
}
.ontario-column,
.ontario-columns {
  padding-left: calc(2rem / 2);
  padding-right: calc(2rem / 2);
  box-sizing: border-box;
  width: 100%;
  float: left;
}
.ontario-column + .ontario-column:last-child,
.ontario-columns + .ontario-column:last-child,
.ontario-column + .ontario-columns:last-child,
.ontario-columns + .ontario-columns:last-child {
  float: right;
}
.ontario-column + .ontario-column.ontario-end,
.ontario-columns + .ontario-column.ontario-end,
.ontario-column + .ontario-columns.ontario-end,
.ontario-columns + .ontario-columns.ontario-end {
  float: left;
}
@media only screen {
  .ontario-column,
  .ontario-columns {
    position: relative;
    padding-left: calc(2rem / 2);
    padding-right: calc(2rem / 2);
    box-sizing: border-box;
    float: left;
  }
  .ontario-small-1 {
    width: 8.33333%;
  }
  .ontario-small-2 {
    width: 16.66667%;
  }
  .ontario-small-3 {
    width: 25%;
  }
  .ontario-small-4 {
    width: 33.33333%;
  }
  .ontario-small-5 {
    width: 41.66667%;
  }
  .ontario-small-6 {
    width: 50%;
  }
  .ontario-small-7 {
    width: 58.33333%;
  }
  .ontario-small-8 {
    width: 66.66667%;
  }
  .ontario-small-9 {
    width: 75%;
  }
  .ontario-small-10 {
    width: 83.33333%;
  }
  .ontario-small-11 {
    width: 91.66667%;
  }
  .ontario-small-12 {
    width: 100%;
  }
  .ontario-column.ontario-small-centered,
  .ontario-columns.ontario-small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .ontario-column.ontario-small-uncentered,
  .ontario-columns.ontario-small-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .ontario-column.ontario-small-centered:last-child,
  .ontario-columns.ontario-small-centered:last-child {
    float: none;
  }
  .ontario-column.ontario-small-uncentered:last-child,
  .ontario-columns.ontario-small-uncentered:last-child {
    float: left;
  }
}
@media only screen and (min-width: 40.0625em) {
  .ontario-column,
  .ontario-columns {
    position: relative;
    padding-left: calc(2rem / 2);
    padding-right: calc(2rem / 2);
    box-sizing: border-box;
    float: left;
  }
  .ontario-medium-1 {
    width: 8.33333%;
  }
  .ontario-medium-2 {
    width: 16.66667%;
  }
  .ontario-medium-3 {
    width: 25%;
  }
  .ontario-medium-4 {
    width: 33.33333%;
  }
  .ontario-medium-5 {
    width: 41.66667%;
  }
  .ontario-medium-6 {
    width: 50%;
  }
  .ontario-medium-7 {
    width: 58.33333%;
  }
  .ontario-medium-8 {
    width: 66.66667%;
  }
  .ontario-medium-9 {
    width: 75%;
  }
  .ontario-medium-10 {
    width: 83.33333%;
  }
  .ontario-medium-11 {
    width: 91.66667%;
  }
  .ontario-medium-12 {
    width: 100%;
  }
  .ontario-column.ontario-medium-centered,
  .ontario-columns.ontario-medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .ontario-column.ontario-medium-uncentered,
  .ontario-columns.ontario-medium-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .ontario-column.ontario-medium-centered:last-child,
  .ontario-columns.ontario-medium-centered:last-child {
    float: none;
  }
  .ontario-column.ontario-medium-uncentered:last-child,
  .ontario-columns.ontario-medium-uncentered:last-child {
    float: left;
  }
}
@media only screen and (min-width: 73.0625em) {
  .ontario-column,
  .ontario-columns {
    position: relative;
    padding-left: calc(2rem / 2);
    padding-right: calc(2rem / 2);
    box-sizing: border-box;
    float: left;
  }
  .ontario-large-1 {
    width: 8.33333%;
  }
  .ontario-large-2 {
    width: 16.66667%;
  }
  .ontario-large-3 {
    width: 25%;
  }
  .ontario-large-4 {
    width: 33.33333%;
  }
  .ontario-large-5 {
    width: 41.66667%;
  }
  .ontario-large-6 {
    width: 50%;
  }
  .ontario-large-7 {
    width: 58.33333%;
  }
  .ontario-large-8 {
    width: 66.66667%;
  }
  .ontario-large-9 {
    width: 75%;
  }
  .ontario-large-10 {
    width: 83.33333%;
  }
  .ontario-large-11 {
    width: 91.66667%;
  }
  .ontario-large-12 {
    width: 100%;
  }
  .ontario-column.ontario-large-centered,
  .ontario-columns.ontario-large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  .ontario-column.ontario-large-uncentered,
  .ontario-columns.ontario-large-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .ontario-column.ontario-large-centered:last-child,
  .ontario-columns.ontario-large-centered:last-child {
    float: none;
  }
  .ontario-column.ontario-large-uncentered:last-child,
  .ontario-columns.ontario-large-uncentered:last-child {
    float: left;
  }
}

/* -------------------------------
        Spacing
--------------------------------- */
.ontario-padding-left-0-\! {
  padding-left: 0 !important;
}
.ontario-padding-top-4-\! {
  padding-top: 0.25rem !important;
}
.ontario-padding-bottom-4-\! {
  padding-bottom: 0.25rem !important;
}
.ontario-padding-top-32-\! {
  padding-top: 2rem !important;
}
.ontario-margin-top-0-\! {
  margin-top: 0 !important;
}
.ontario-margin-bottom-0-\! {
  margin-bottom: 0 !important;
}
.ontario-margin-top-4-\! {
  margin-top: 0.25rem !important;
}
.ontario-margin-bottom-4-\! {
  margin-bottom: 0.25rem !important;
}
.ontario-margin-top-8-\! {
  margin-top: 0.5rem !important;
}
.ontario-margin-bottom-8-\! {
  margin-bottom: 0.5rem !important;
}
.ontario-margin-top-16-\! {
  margin-top: 1rem !important;
}
.ontario-margin-bottom-16-\! {
  margin-bottom: 1rem !important;
}
.ontario-margin-right-16-\! {
  margin-right: 1rem !important;
}
.ontario-margin-top-24-\! {
  margin-top: 1.5rem !important;
}
.ontario-margin-bottom-24-\! {
  margin-bottom: 1.5rem !important;
}
.ontario-margin-top-32-\! {
  margin-top: 2rem !important;
}
.ontario-margin-bottom-32-\! {
  margin-bottom: 2rem !important;
}
.ontario-margin-top-40-\! {
  margin-top: 2.5rem !important;
}
.ontario-margin-bottom-40-\! {
  margin-bottom: 2.5rem !important;
}
/* -------------------------------
       Custom spacing
--------------------------------- */
.ontario-padding {
  padding: 1rem;
}

/* -------------------------------
       Custom text alignment
--------------------------------- */
.ontario-text-center {
  text-align: center;
}

.ontario-text-right {
  text-align: right;
}

/* -------------------------------
       Breadcrumbs
--------------------------------- */
.ontario-breadcrumbs {
  display: block;
  margin: 0 0 1.25rem 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.ontario-breadcrumbs li {
  float: left;
  font-size: 0.9rem;
  line-height: inherit;
  margin-bottom: 0;
}

.ontario-breadcrumbs li a {
  text-decoration: underline;
}

.ontario-breadcrumbs > :nth-child(n + 1):before {
  content: "";
  background: url("../images/ontario-icon-breadcrumb.svg") no-repeat;
  display: inline-block;
  height: 12px;
  width: 12px;
  top: 0.1rem;
  position: relative;
  margin: 0 0.5rem;
}

.ontario-breadcrumbs > *:first-child:before {
  width: 0;
  margin: 0;
}
