/* -------------------------------
    Navigation
--------------------------------- */
.ontario-navigation {
  background: #367a76;
  color: #fff;
  margin-bottom: 2rem;
}

.ontario-navigation__list {
  font: 1rem "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding-left: 1rem;
}

.ontario-navigation__list--item {
  float: left;
  padding: 1rem;
}

.ontario-navigation__list--item:first-child {
  padding-left: 0;
}

.ontario-navigation__list--item:hover,
.ontario-navigation__list--item:focus {
  background-color: #0a4a47;
  cursor: pointer;
}

.ontario-navigation__list--item a {
  color: white;
  text-decoration: none;
}

.ontario-navigation__list--item a:hover,
.ontario-navigation__list--item a:focus {
  text-decoration: underline;
}

.ontario-navigation__list--active {
  background-color: #0a4a47;
}

.ontario-site-nav__nav-toggle {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  min-width: auto;
}
