/* -------------------------------
    Print styles
--------------------------------- */
.ontario-show-for-print {
  display: none;
}

@media print {
  /* Global */
  @page {
    size:  auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
  }

  html {
    background-color: #FFFFFF;
    margin: 0px;  /* this affects the margin on the html before sending to printer */
  }

  body {
    margin: 10mm; /* margin you want for the content */
  }

  .ontario-hide-for-print {
    display: none;
  }

  div.ontario-show-for-print {
    display: block;
  }

  span.ontario-show-for-print {
    display: inline-block;
  }

  div, span {
    background-color: #fff !important;
    color: #000 !important;
  }

  a::after{
    content: " (" attr(href) ") ";
  }

  /* Breadcrumbs */
  .ontario-breadcrumbs {
    display: none;
  }

  /* Callouts */
  .ontario-results__callout__arrow-down {
    display: none;
  }

  .ontario-results__callout {
    top: 0 !important;
    padding-bottom: 0 !important;
  }

  [class^='ontario-callout'], [class*='ontario-callout'] {
    padding: 0 !important;
    border: none !important;
  }

  /* Form elements */
  button {
    display: none !important;
  }

  /* Footer */
  footer {
    display: none;
  }

  /* Header */
  .ontario-main-header {
    background: none;
    margin-bottom: 0;
  }

  .ontario-site-logo-print {
    display: block;
    height: 30px;
    margin: 1rem 0 0.5rem 0;
  }

  .ontario-main-header__logo-link {
    display: none;
  }

  .ontario-main-header__link {
    display: none;
  }

  /* Icons */
  .ontario-icon__clipboard,
  .ontario-icon__self-isolate-home,
  .ontario-icon__self-isolate,
  .ontario-icon__warning {
    display: none;
  }

  /* Type and alignment */
  .ontario-infographic-number {
    font-size: 1.4375rem;
    font-weight: 700;
  }

  /* Components */
  .ontario-results__callout .ontario-results__timestamp {
    margin-bottom: 0.5rem;
  }

  .ontario-question-content__wrapper--outer {
    margin-top: 1rem;
  }

}